 .main-section {
    background-color: #242452;
     height: 100vh;
     width: 100%;
     border-radius: 0px 0px 300px 0px;
 }
 
 .main-section .navbar .container-fluid .logo{
    width: 100px;
    height: 100px;
    margin-left: 7%;
 }

 .main-section .navbar .container-fluid .logo img{
    width: 100%;
 }
 .main-section .navbar .container-fluid .navbar-nav{
    /* margin-left: 40%; */
    margin: auto;
 }

 .main-section .navbar .container-fluid .navbar-nav li{
    margin: 0 30px;
    
 }
  .main-section .navbar .container-fluid .navbar-nav li a{
    color: white;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
 }

 .main-section .navbar .container-fluid .navbar-nav li a:hover{
    color: blueviolet ;
    
 }

 /* end nav  */

 
/* start header  */
    
.main-header .container .row .col-6 .header-title {
    font-size: 50px;
    font-weight: bold;
    color: #f1f1f1; 
}

.main-header .container .row .col-6 .lead {
    color: #f1f1f1;
    font-size: 16px;
}

.main-header .container .row .col-6 a {
    background-color: #6fbca0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.main-header .container .row .col-6 a:hover {
    background-color: #242452;
    color: #f1f1f1;
}   
 
.main-header .container .row .col-6 img {
    width: 100%;
}

/* end header  */
